/* parakeet green */
.cost-text {
    color: #03C04A;
}

.cost-holder {
    background-color: rgba(235, 236, 240, 0.4);
    border: 1.5px solid black;
}

/* font styles: italic, many more */
.flavor-text {
    font-style: italic;
}

.centered-text {
    text-align: center;
}

.card-content {
    /* WIP for border and stuff. */
    /* border: 2px solid black; */
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border: 1px groove black;
    padding: 10px;
    border-radius: 16px;
}

.search-item {
    margin-left: 15px;
    margin-right: 15px;
    /* for the hover to take time */
    transition: transform 0.3s ease-in-out;

}

.search-item:hover {
    transform: scale(1.08);
}